
/*---------- COLOURS ----------*/

	$black: rgba(51,51,51,1);
	$darkGrey: #dddddd;
	$green: rgba(32,136,95,1);
	$green-transparent: rgba(10,64,43,0.5);
	$grey: #fbfbfb;
	$white: rgba(255,255,255,1);

	.color--dark-grey {
		color: $darkGrey;
	}



/*---------- VARIABLES ----------*/
	
	$max-width: 1440px;



/*---------- CLEARFIX ----------*/

	%cf {
		&:before,
		&:after {
	    	content: " ";
	    	display: table;
		}

		&:after {
	    	clear: both;
		}
	}



/*---------- MAXIMUM WIDTH ----------*/

	%max-width {
		box-sizing: border-box;
		margin-left: auto;
		margin-right: auto;
		max-width: $max-width;
		width: 96%;
	}



/*---------- FONTS ----------*/

	@font-face {
	  font-family: 'Open Sans';
	  src:  url('./fonts/open-sans.woff2') format('woff2'),
	        url('./fonts/open-sans.woff') format('woff');
	}

	@font-face {
	  font-family: 'Pluto Sans';
	  src:  url('./fonts/pluto-sans.woff2') format('woff2'),
	        url('./fonts/pluto-sans.woff') format('woff');
	}



/*---------- BLUR ----------*/

	@mixin blur($px: 25px) {

		-webkit-filter: blur($px);
		-moz-filter: 	blur($px);
		-ms-filter: 	blur($px);
		-o-filter: 		blur($px);
		filter: 		blur($px);

	}



/*---------- ROTATE ----------*/	

	@mixin rotate($deg: 45deg) {

		-webkit-transform: 	rotate($deg);
		-moz-transform: 	rotate($deg);
		-ms-transform: 		rotate($deg);
		-o-transform: 		rotate($deg);
		transform: 			rotate($deg);

	}



/*---------- SKEW ----------*/

	@mixin skewX($deg: -5deg) {

		-webkit-transform: 	skewX($deg);
  		-moz-transform: 	skewX($deg);
  		-ms-transform: 		skewX($deg);
  		-o-transform: 		skewX($deg);
  		transform: 			skewX($deg);

  		-webkit-backface-visibility: hidden;
  		backface-visibility: initial;

	}

	@mixin skewY($deg: -5deg) {

		-webkit-transform: 	skewY($deg);
  		-moz-transform: 	skewY($deg);
  		-ms-transform: 		skewY($deg);
  		-o-transform: 		skewY($deg);
  		transform: 			skewY($deg);

  		-webkit-backface-visibility: hidden;
  		backface-visibility: initial;

	}



/*---------- TRANSLATE ----------*/	

	@mixin translateX($X: -50%, $left: 50%, $pos: relative) {

		-webkit-transform: 	translateX($X);
		-moz-transform: 	translateX($X);
		-ms-transform: 		translateX($X);
		-o-transform: 		translateX($X);
		transform: 			translateX($X);

		left: $left;
		position: $pos;

	}

	@mixin translateY($Y: -50%, $top: 50%, $pos: relative) {

		-webkit-transform: 	translateY($Y);
		-moz-transform: 	translateY($Y);
		-ms-transform: 		translateY($Y);
		-o-transform: 		translateY($Y);
		transform: 			translateY($Y);

		position: $pos;
		top: $top;

	}



/*---------- TRANSITION ----------*/

	@mixin transition($elem: all, $time: 250ms, $ease: ease) {
	 	-webkit-transition: $elem $time $ease;
		-moz-transition: 	$elem $time $ease;
		-ms-transition: 	$elem $time $ease;
		-o-transition: 		$elem $time $ease;
		transition: 		$elem $time $ease;
	}
